# Database (dùng chung postgres-database)
DB_USER=hoppscotch
DB_PASSWORD=
DB_NAME=hoppscotch

# Security (generate: openssl rand -hex 16)
JWT_SECRET=
SESSION_SECRET=
DATA_ENCRYPTION_KEY=

# URLs
BASE_URL=https://hopp.sho.io.vn
ADMIN_URL=https://hopp-admin.sho.io.vn
