{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": false,
  "quoteProps": "consistent",

  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 180
      }
    }
  ]
}
